<% @reviews.each do |review| %>
  <div class"review">
    <b> <%= review.game %> </b>
    <details>
      <summary>Score</summary>
      <p>
        <%= review.score %>
      </p>
    </details>
  </div>
<% end %>
