<header>
  <div class="header is-center">
    <h1><%= link_to root_path do %>
        <%= image_tag "topblockchaingames.jpg" %>
      <% end %>
    </h1>
  </div>
  <h2>Play to Earn</h2>
  <nav>
    <div class="button outline dark">
      <%= link_to 'Add a Review', new_review_path %>
    </div>
  </nav>
</header>
